
.header_title{
    position: relative;
    top: 8vh;
    text-align: center;
}

.header_title h1{
    font-size: 2.5vw;
}

h1{
    color: #FFB618;
    font-weight: 900;
}

section p{
    color: white;
    font-size: 1.3vw;
}

@media (max-width: 600px){
    .header_title h1{
        font-size: 6vw;
    }

    section p{
        color: white;
        font-size: 2.3vw;
    }

}