.plans_container{
    display: flex ;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plans{
    position: relative;
    max-height: 65vh;
    max-width: 22vw;
    top: 15vh;
    background-color: #3b3b3b;
    z-index: 1;
    margin: 15px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.plans_name_header{
    background-color: #FFB618;
    width: 100%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plans_name{
    float: left;
    margin: 25px;
}

.plans_price{
    padding: 1.3vw;
    font-size: 2vw;
}

.plans_price span{
    font-size: 17px;
 }

.plans_description{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8vw;
}

hr{
    margin: 20px;
    color: #3b3b3b;
}

.plans ul{
    list-style: none;
    padding: 20px;
    font-size: 0.8vw;
}

.plans ul li{
    margin-bottom: 15px;
}

.plans_button{
   text-align: center;
   margin-bottom: 25px;
}

.plans_button button{
    height: 30px;
    width: 10vw;
    cursor: pointer;
    background-color: #FFB618;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    color: black;
}

@media (max-width: 600px){
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }

    .plans{
        min-width: 60vw;
    }

    .plans_button button{
        width: 150px;
    }
    
    hr{
        display: none;
    }

    .plans_description{
        font-size: 2.5vw;
    }

    .plans ul{
        list-style: disc;
        font-size: 2.5vw;
        padding: 30px;
    }

    .plans_price{
        padding: 3vw;
        font-size: 5vw;
    }
}


