.plans_container{
    display: flex ;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.plans{
    position: relative;
    height: 56vh;
    width: 22vw;
    top: -100px;
    background-color: #FFFFFF;
    z-index: 1;
    margin: 15px;
    border-radius: 10px;
}

